config/
coverage/
assets/
build
scripts
shell
**/__tests__/
node_modules/
example/
.travis.yml
.vscode
.watchmanconfig
.eslintignore
.github
.idea
.prettierrc
.eslintrc.json
tsconfig.json
tslint.json
babel.config.js

CHANGELOG.md
CONTRIBUTING.md
REFERENCE_API.md
README.md